#main {
    margin-top: 20px;
}

.form-signin {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
}

.username {
    color: white;
}

.pointer {
    cursor: pointer;
}

.center-form-nav {
    margin-right: 100px;
}

.form-search-nav {
    width: 400px;
}

.btn-log {
    margin-left: 12px;
}

.btn-add-staff {
    margin-bottom: 12px;
}